body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header img, footer img{
    width: 45%;
    height: auto;
}
main img{
    width:100%;
    height:auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
nav ul{
    display: flex;
    gap: 36px;
    list-style: none;
    padding: 0;
    width: 150px;
    
}
nav ul li:first-child a{
    text-decoration: none;
    color:#D92950 ;
}
nav ul li:last-child a{
    text-decoration: none;
    color: #282c32 ;
}
main{
    padding: 5px 20px;
}