body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
    color: #3E3D3D;
}
header img, footer img{
    width: 116px;
    height: 36px;
    
}
main img{
    width:100%;
    height: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* gap: 10%; */
    z-index: 100;
    background-color: #ffffff;
    width: 100%;


}

nav ul{
    display: flex;
    gap: 16px;
    list-style: none;
    margin-right: 10px;
}
nav ul li:first-child a{
    text-decoration: none;
    color:#D92950 ;
}
nav ul li:last-child a{
    text-decoration: none;
    color: #282c32 ;
}
button{
    width: 100px;
    height: 28px;
    border-radius: 5px;
    background-color: #D92950;
    color:#ffffff ;
    border: none;
}
.starthero{
    padding: 64px 10px;
}
.groupArticle{
    background-color: #FAF3E9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.groupArticle article{
    margin: 32px;
    padding: 16px;
    width: 250px;
    border: 1px solid #282c32;
    border-radius: 5px;
}
.beginCode{
    background-color: #282c32;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    color: #ffffff;
    
}
.startlearn{
    padding: 30px;
}
.startlearn h2{
    text-align: center;

}
main a{
    color: #D92950;
    text-decoration: none;
    margin-left: 10%;

}
.startlearn-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}
.startlearn-items article{
    width: 300px;
    height: 60px;
    background-color:#FAF3E9 ;
    margin: 16px;
    text-align: center;
    border-radius: 5px;


}
/* formulaire */

.whritter-title h2{
    text-align: center;
    font-size: 36px;

}

.whritter-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.item{
    margin: 16px;
}
.item div input{
    border:1px solid #3E3D3D;
    width: 300px;
    height: 29px;
    border-radius: 5px;
    margin-top: 7px;

}
.whritter-form-items2 div textarea{
    border:1px solid #282c32;
    border-radius: 5px;
    width: 300px;
    height: 167px ;
    margin-top: 7px;

}
.submit{
    width: 200px;
    height: 54px;
    border-radius: 5px;
    background-color: #D92950;
    color:#ffffff ;
    border: none;

}

/* PAGE :NOS COURS */
.first-section{
    background-color:#282c32;
    color: #ffffff;
    margin-top: 70px;
}
.first-section, 
.last-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px ;
}
.mygrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr) );
    gap:5px ;
    
}
.mygrid p{
    background-color: #FAF3E9;
    line-height: 100px;
    border-radius: 5px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 48px;

}
.social{
    display: flex;
    gap: 18px;
}
.link{
    width: 20px;
    height: auto;
}
@media (min-width: 1024px){
    h1,h2{
        font-size: 36px;
    }
    p,label{
        font-size: 18px;
        border-radius: 9px;
    }
    header{
        display: flex;
        justify-content: center;
        gap: 798px;
    }
    nav ul{
        display: flex;
        gap: 36px;
    }
    .starthero{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 33px;
        padding: 130px 169px 130px 159px;
    }
    main img{
        width: 564px;
        height: 376px;
    }
    main button{
        width: 182px;
        height: 54px;
        border-radius: 9px;
        font-size: 18px;

    }
    .groupArticle{
        padding: 134px 0;
    }
    .beginCode{
        padding: 121px 159px 91px 212px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 43px;
    

    }
    .whritter-form{
        position: relative;
        margin-bottom: 100px;
    }
    .whritter-form-items1{
        display: flex;
        flex-direction: row;
    }
    .whritter-form-items1 div input{
        width: 477px;
        height: 57px;
        border-radius: 9px;
    }
    .whritter-form-items2 div textarea{
        width: 1035px;
        height: 167px;
        border-radius: 9px;
    }
    .btn{
       position: absolute;
      bottom: -114px; /*  padding-top: 57px; remplacé */
      right: 10%;


    }
    .submit{
        width: 278px;
        height: 54px;
        border-radius: 9px;
    }

    /* PAGE : NOS COURS  */

    .first-section{
        display: flex;
        flex-direction: row;
        gap: 28px;
        height: 519px;
        padding: 111px 126px 112px 164px;
    }
    .mygrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 71px;
    }
    .mygrid p{
        width: 325px;
        line-height: 120px;
    }
    .mygrid p:nth-child(1){
        grid-column: 1/2;
        grid-row: auto;
    }


}
@media (min-width: 768px) and (max-width: 1024px) {

    h1,h2{
        font-size: 36px;
    }
    p,label{
        font-size: 18px;
        border-radius: 9px;
    }
    header{
        display: flex;
        justify-content: center;
        gap: 398px;
    }
    nav ul{
        display: flex;
        gap: 36px;
    }
    main button{
        width: 182px;
        height: 54px;
        border-radius: 9px;
        font-size: 18px;

    }
    .starthero{
        display: flex;
        flex-direction: row;
        padding:100px 20px;
        gap: 20px;
    }
    .groupArticle{
        padding: 134px 0;
    }
    main img:nth-of-type(1){
        width: 350px;
        height: 300px;
    }
    main img{
        width: 300px;
        height: 250px;
    }
    .beginCode{
        padding: 80px 50px 80px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    

    }
    .whritter-form{
        position: relative;
        margin-bottom: 100px;
    }
    .whritter-form-items1{
        display: flex;
        flex-direction: row;
    }
    .whritter-form-items1 div input{
        width: 310px;
        height: 57px;
        border-radius: 9px;
    }
    .whritter-form-items2 div textarea{
        width: 640px;
        height: 167px;
        border-radius: 9px;
    }
    .btn{
       position: absolute;
      bottom: -100px; 
      right: 10%;


    }
    .submit{
        width: 278px;
        height: 54px;
        border-radius: 9px;
    }

    /* PAGE NOS COURS : */

    .first-section{
        display: flex;
        flex-direction: row;
        gap: 18px;
        height: 300px;
        padding: 50px 50px;
    }
    .mygrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 71px;
    }
    .mygrid p{
        width: 325px;
        line-height: 120px;
    }
    .mygrid p:nth-child(1){
        grid-column: 1/2;
        grid-row: auto;
    }

    

   
}

